presentation/presentazione.aux
presentation/presentazione.fdb_latexmk
presentation/presentazione.log
presentation/presentazione.fls
presentation/presentazione.out
presentation/presentazione.nav
presentation/presentazione.snm
presentation/presentazione.synctex.gz
presentation/presentazione.toc
